.container{

    width:80%;
    margin:auto;

}

h1{

    text-align:center;
    margin:30px;

}

.video-card{

    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:10px;
    box-shadow:0 0 10px gray;

}

button{

    margin-right:10px;
    padding:10px 20px;
    background:#0066cc;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;

}
